@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background: #070B28;
    font-family: 'Open Sans', sans-serif !important;
}
.pagination_el{
    width: 40px;
    height: 4px;
    border-radius: 65px;
    background: #EAE0FF;
}
.pagination_el-active{
    width: 40px;
    height: 4px;
    border-radius: 65px;
    border: 1px solid #EAE0FF;
    background:transparent;
}
