@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background: #070B28;
    font-family: 'Open Sans', sans-serif !important;
}
.pagination_el{
    width: 40px;
    height: 4px;
    border-radius: 65px;
    background: #EAE0FF;
}
.pagination_el-active{
    width: 40px;
    height: 4px;
    border-radius: 65px;
    border: 1px solid #EAE0FF;
    background:transparent;
}

.modal-container{
    background-color: rgba(20, 3, 49, 0.8) !important;
    z-index: 10;
    cursor: default !important;
}

.swiper-pagination-bullet{
    width: 5px !important;
    height: 5px !important;
    border-radius: 30px !important;
    background: #8367BD !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 26px !important;
    height: 8px !important;
    border-radius: 30px !important;
    background: #FFF !important;
}
.glow_icon {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 1));
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}
.n-slider-handle-indicator{
    padding: 0 8px !important;
}
.n-slider-handle{
    width: 7px !important;
    height: 15px !important;
    border-radius: 0 !important;
}
.n-slider .n-slider-handles .n-slider-handle-wrapper{
    transform: translate(-106%, -50%);
}
.segment .n-tabs-tab__label{
    width: 100% !important;
    padding-right: 10px;
}
@media screen and (max-width: 640px){
    .n-tabs-rail{
        display: flex;
        flex-direction: column;
    }
}
